             <div class = "col-md-10 col-md-offset-1"> 
                
                 <div class = "textcontainer"> 
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere tortor sed dictum dictum. Morbi mattis pharetra sodales. Vestibulum tincidunt purus vitae justo aliquet, a luctus ex scelerisque. Sed vel quam eget arcu cursus volutpat a id risus. Quisque ornare nec lorem a tempor. Nunc ut neque nec sapien ornare auctor at eu arcu. Donec molestie quis turpis id posuere. Sed vulputate tristique odio at condimentum. Curabitur iaculis, nulla sed molestie venenatis, nibh purus blandit felis, sit amet ultrices orci sapien a justo.

Integer nec libero rutrum, aliquet quam ut, malesuada mi. Proin in arcu nunc. Donec auctor dolor sed ornare fringilla. Morbi at tristique tellus, eu congue ante. Sed auctor mi ac eleifend sodales. Nam massa nibh, laoreet nec convallis quis, congue et ante. Donec posuere diam at leo rutrum, sit amet fringilla arcu tincidunt. Morbi sodales felis ac ex efficitur, sed cursus enim pharetra.
                 </div>
                 
                 <div class = "col-md-5" class = "artworkcontainer" onclick = "openPhotoSwipe()" style = "background: url(/content/img/centre-boxes/blackrectangle.png); color: white; height: 200px; margin-bottom: 40px; cursor: pointer;"> 
                     
                 <div style = "margin:auto; position: relative; top: 50%; width: 50px;"> CAST </div>
                 
                 </div>
                 
                 <div class = "col-md-5 col-md-offset-2" class = "artworkcontainer" onclick = "openPhotoSwipe()" style = "background: url(/content/img/centre-boxes/blackrectangle.png); color: white; height: 200px; margin-bottom: 40px; cursor: pointer;"> 
                     
                <div style = "margin:auto; position: relative; top: 50%; width: 130px;"> BEHIND THE SCENES </div>
                 
                 </div>
                 
                 
             </div>



<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>


















