<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">{{currentTab}}</div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <nav class="col-md-2">
        <div class = "visible-phone" ng-click = "changeTab('project')" ng-hide = "isCurrentTab('project')"> Project </div>
        <div ng-click = "changeTab('film')" ng-hide = "isCurrentTab('film')"> Film </div>
        <div ng-click = "changeTab('people')" ng-hide = "isCurrentTab('people')"> People </div>
        <div ng-click = "changeTab('bees')" ng-hide = "isCurrentTab('bees')"> Bees </div>
        <div ng-click = "changeTab('pledge')" ng-hide = "isCurrentTab('pledge')"> Pledge </div>
    </nav>
    <div class="col-md-8" id = "content">
        <div id = "homeContent" ng-hide = "isCurrentTab('home')">
            
        </div>
        
         <div id = "projectContent" ng-show = "isCurrentTab('project')">
             
             <div class = "col-md-1"> </div>
             
             <div class = "col-md-10"> 
                 
                 <div class = "videocontainer"> 
                     
                <iframe src="https://player.vimeo.com/video/119744218" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/119744218">Boobs.</a> from <a href="https://vimeo.com/user6133617">Stefano Colferai</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                     
                 </div>
                 
                 <div class = "textcontainer"> 
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere tortor sed dictum dictum. Morbi mattis pharetra sodales. Vestibulum tincidunt purus vitae justo aliquet, a luctus ex scelerisque. Sed vel quam eget arcu cursus volutpat a id risus. Quisque ornare nec lorem a tempor. Nunc ut neque nec sapien ornare auctor at eu arcu. Donec molestie quis turpis id posuere. Sed vulputate tristique odio at condimentum. Curabitur iaculis, nulla sed molestie venenatis, nibh purus blandit felis, sit amet ultrices orci sapien a justo.

Integer nec libero rutrum, aliquet quam ut, malesuada mi. Proin in arcu nunc. Donec auctor dolor sed ornare fringilla. Morbi at tristique tellus, eu congue ante. Sed auctor mi ac eleifend sodales. Nam massa nibh, laoreet nec convallis quis, congue et ante. Donec posuere diam at leo rutrum, sit amet fringilla arcu tincidunt. Morbi sodales felis ac ex efficitur, sed cursus enim pharetra.
                 </div>
                 
             </div>
             
                <div class = "col-md-1"> </div>
             
        </div>
        
         <div id = "filmContent" ng-show = "isCurrentTab('film')">
        
        </div>
        
         <div id = "peopleContent" ng-show = "isCurrentTab('people')">
        
        </div>
        
         <div id = "beesContent" ng-show = "isCurrentTab('bees')">
        
        </div>
        
        <div id = "pledgeContent" ng-show = "isCurrentTab('pledge')">
        
        </div>
    </div>
    <div class="col-md-2" id = "social">
    
    </div>
</div>
<!--  
navbar
    home
        -image
    project
        -video
        -text
    film
        -text
        -image
        -video
    people
        -image, image, image
    bees
    pledge
-->
    


