<div id = "maincontent" ng-style = "getBackgroundImage()">

<div class="row">
    <div class="col-md-7 col-md-offset-3">
        <div id = "topbanner" ng-hide = "isCurrentTab('home')">
            {{currentTabCapital()}}
        </div>
    
    </div>
</div>

<div class="row">
    
   <div class = "col-md-3" ng-include = "'app/views/nav.html'"> </div>     
    
    <div class="col-md-7" id = "content">
        
        <div id = "homeContent" ng-show = "isCurrentTab('home')" style = "text-align:right" >
            
            <style>
            
                #mainimage{
                    background: url(content/img/centre-boxes/homescreen-1170.png);
                    background-size: 100%; 
                    height: 500px; 
                    background-repeat: no-repeat;"
                }
                
                #mainimage h2, #mainimage h3 {
                    position: relative; 
                    top: 50%; 
                    text-align:center;
                }
                
                #mainimage h2{
                    font-size: 32px;   
                }
                
                #mainimage h3{
                    font-size: 18px;   
                }
                
                
    @media screen and (max-width: 650px) {
        #mainimage {
            height: 300px;
        }
        
        #mainimage h2{
            font-size: 22px;   
        }
                
        #mainimage h3{
            font-size: 12px;   
        }
    }
            
            </style>
            
            <div id = "mainimage">
            
                <h2> WHEN ALL THE BEES FLEW AWAY</h2>
                <h3> A Film By Connor Pearce</h3>
            
            </div>
            
<!--            <img ng-src = "content/img/centre-boxes/home.png" width = 100% vertical-align: center/> -->
            
            <img ng-src = "content/img/centre-boxes/kickstarter.png" width = 30% style = "position: relative; bottom: 40px;" /> 
        
        </div>
        
    <div class = "tab" id = "projectContent" ng-show = "isCurrentTab('project')" ng-include = "'app/views/project.html'"> </div>
            
    <div class = "tab" id = "filmContent" ng-show = "isCurrentTab('film')" ng-include = "'app/views/film.html'"> </div>
            
    <div class = "tab" id = "peopleContent" ng-show = "isCurrentTab('people')" ng-include = "'app/views/people.html'"></div>
            
    <div class = "tab" id = "beesContent" ng-show = "isCurrentTab('bees')" ng-include = "'app/views/bees.html'"></div>
        
    </div>
    
    <div class="col-md-2" ng-include = "'app/views/social.html'"></div>
    
</div>
    
</div>




