<nav class="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items">
          <img src = "content/img/social-icons/nav-bar-icon.png"/>
      </button>
    </div>
        
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-items">
      <ul class="nav navbar-nav text-center">
          <div class = "navbox " ng-click = "changeTab('project')" ng-hide = "isCurrentTab('project')">
              Project
          </div>
        <div class = "navbox" ng-click = "changeTab('film')" ng-hide = "isCurrentTab('film')">
              Film
          </div>
        <div class = "navbox" ng-click = "changeTab('people')" ng-hide = "isCurrentTab('people')">
              People
          </div>
            <div class = "navbox" ng-click = "changeTab('bees')" ng-hide = "isCurrentTab('bees')">
              Bees
          </div>
        <div class = "navbox" ng-click = "changeTab('pledge')" ng-hide = "isCurrentTab('pledge')">
              Pledge
          </div>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>