<div class="people">
  <div class="row">
    <div class="col-sm-4">
      	<img src="content/img/people/connor_pearce.jpg" alt="Connor Pearce" width="100%">
      	<h2>CONNOR PEARCE</h2>
      	<p>Director</p>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
    	<img src="content/img/people/charlie_goldhawk.jpg" alt="Charlie Goldhawk" width="100%">
        <h2>CHARLIE GOLDHAWK</h2>
        <p>Producer</p>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
        <img src="content/img/people/sam_ramsey.jpg" alt="Sam Ramsey" width="100%">
        <h2>SAM RAMSEY</h2>
        <p>Producer</p>
    </div><!-- /.col-sm-4 -->
  </div><!-- /.row -->
  
  <div class="row">
    <div class="col-sm-4">
      	<img src="content/img/people/tom_traies.jpg" alt="Tom Traies" width="100%">
      	<h2>TOM TRAIES</h2>
      	<p>Director Of Photography</p>	
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
    	<img src="content/img/people/joe_cobb.jpg" alt="Joe Cobb" width="100%">
    	<h2>JOE COBB</h2>
    	<p>Production Manager</p>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
    	<img src="content/img/people/savvas_caranicola.jpg" alt="Savvas Caranicola" width="100%">
        <h2>SAVVAS CARANICOLA</h2>
        <p>VFX Supervisor</p>    
    </div><!-- /.col-sm-4 -->
  </div><!-- /.row -->
  
  <div class="row">
    <div class="col-sm-4">
      	<img src="content/img/people/awaiting_image.jpg" alt="A.Nother" width="100%">
      	<h2>A.NOTHER</h2>
      	<p>SFX Supervisor</p>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
    	<img src="content/img/people/ben_imber.jpg" alt="Ben Imber" width="100%">
        <h2>BEN IMBER</h2>
        <p>3D Artist</p>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
        <img src="content/img/people/awaiting_image.jpg" alt="A.Nother" width="100%">
        <h2>A.NOTHER</h2>
        <p>2D Artist</p>
    </div><!-- /.col-sm-4 -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-4">
      	<img src="content/img/people/greg_carter.jpg" alt="Greg Carter" width="100%">
      	<h2>GREG CARTER</h2>
      	<p>Digital Artist</p>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
    	<img src="content/img/people/jonathan_boorman.jpg" alt="Jonathan Boorman" width="100%">
        <h2>JONATHAN BOORMAN</h2>
        <p>Concept Artist</p>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
        <img src="content/img/people/tim_baggott.jpg" alt="Tim Baggott" width="100%">
        <h2>TIM BAGGOTT</h2>
        <p>Film Composer</p>
    </div><!-- /.col-sm-4 -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-sm-4">
      	<img src="content/img/people/janak_jani.jpg" alt="Janak Jani" width="100%">
      	<h2>JANAK JANI</h2>
      	<p>Digital Designer</p>
    </div><!-- /.col-sm-4 -->
    <div class="col-sm-4">
    	<img src="content/img/people/awaiting_image.jpg" alt="Simon Walker" width="100%">
        <h2>SIMON WALKER</h2>
        <p>Web Developer</p>
    </div><!-- /.col-sm-4 -->
    <div class="col-lg-2"></div>
  </div><!-- /.row -->
</div>