/* Title Cards
-------------------------------------------------- */
.carousel .item {
    width: 100%; /*slider width*/
    max-height: 1080px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
.tc_text {
      margin-bottom: -121px;
      width: 600px;
      position: absolute;
      bottom: 25%;
      left: 50%;
      margin-left: -300px;
      text-align: center;
      z-index: 15;
}
.tc_text p {
    margin-top: 35%;
}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
.hide{
    display: none
}

/* Main Content
-------------------------------------------------- */
.main_content{
    height:2000px;
    background-color: blue;
}

/* People
-------------------------------------------------- */
.people {
    text-align: center;
}

.people h2{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.people img{
    max-width: 210px;
    padding-top: 15px;
}

/* Social
-------------------------------------------------- */
.social-media ul{
    list-style-type: none;
    padding-top: 15px;
}

.social-media li{
    padding-bottom: 10px;
}

#twitter-widget-0{
    margin-top: 30px !important;
    border: 1px solid green !important;
}

@media screen and (max-width: 991px) {
    #twitter-widget-0{
         display: none !important;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
  font-family: 'Dosis', sans-serif;
}

h1, p {
    font-family: 'Dosis', sans-serif;
}



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    padding-top: 1000px;
}

.text-muted {
    margin: 20px 0;
}

.form-login {
    max-width: 330px;
    padding: 0px 15px 5px 15px;
    margin: 0 auto;
}

.form-login .form-login-heading {
        margin-bottom: 10px;
}

    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-login .form-control:focus {
            z-index: 2;
        }

    .form-login input[type="password"] {
        margin-top:5px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

/* Jaerens CSS
-------------------------------------------------- */

div#topbanner{
    background-image: url("../img/headers/header-1170.png");
    opacity: 0.7;
    filter: alpha(opacity=70); 
    text-align: center;
    padding: 30px;
}

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
    max-height: none
}

div.tab {
    background-image: url("../img/centre-boxes/centre-box-1170.png");
    overflow: hidden;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .nav{
        float:left!important;  
        width: 100%!important;
    }
}

@media (max-width: 767px) {
   .navbar-collapse {
       max-height: none;
       max-width: none;
   }
    
    .nav{
        float:left;   
    }
    
    .navbar-nav {
   margin: 0px 0px;
    }
    
}

div.social-icon{
    margin-top: 20px; 
}

/* NavBar animation */
.navbox {
    background-image: url("../img/nav-bar/nav-button-1170.png");
    opacity: 0.7;
    filter: alpha(opacity=70); 
    padding: 40px 60px 40px 60px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    cursor: pointer;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.navbox.ng-hide-add, .my-elm.ng-hide-remove {
  display:block!important;
}

.navbox.ng-hide-remove-active,
.ng-hide-add{
  opacity: 1;
  top: 0;
  height: 20px;
    padding: 40px 60px 40px 60px;
}

.navbox.ng-hide-add-active,
.ng-hide-remove{
    opacity: 0;
  top: -78px;
  height: 0px;
padding: 0px 60px 0px 60px;    
}

.nav{
    float: none;
    width: 200px;
  margin: auto;
}

div.social-icon{
    text-align: center;   
}
